// Imports
@import "./overrides";
@import "./inter";
@import "~bulma/bulma";
@import "./emojione";

// Custom Rules
::selection {
    background-color: rgba(163, 114, 57, 0.562);
}

html,
body {
    font-display: auto;
    letter-spacing: -0.4pt;
}

// Dark mode

body {
    --bg: white;
    --textNormal: #222;
    --textTitle: #222;
    --textLink: #4a4a4a;
    --hr: hsla(0, 0%, 0%, 0.2);
  
    background-color: var(--bg);
  }

body.dark {
    -webkit-font-smoothing: antialiased;
  
    --bg: #121212;
    --textNormal: rgba(255, 255, 255, 0.671) !important;
    --textTitle: rgba(255, 255, 255, 0.726) !important;
    --textLink: rgb(255, 255, 255) !important;
    --hr: hsla(0, 0%, 100%, 0.2) !important;
  }

a {
    text-decoration: none;
    background-image: -webkit-linear-gradient(
        left,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
      );
      background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s, background-color .3s;

    &:hover{
        color:black !important;
    }

}

a:hover:not(.remove-animation), a:focus:not(.remove-animation) {
    background-size: 100% 2px;
}

// Bulma Class Overrides
.content, p {
    a.reset-color {
        color: inherit;

        &:hover {
            color: inherit;
        }
    }
}

.navbar-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-padding {
    width: 1rem;
}

.title {
    letter-spacing: -0.8pt;
}